<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>#xtr_head_title#</title>
		<meta name="description" content="#xtr_head_description#" />
		<style>#xtr_head_style#</style>
		<script language="javascript" type="text/javascript">#xtr_head_javascript#</script>
		#xtr_head_plus#
	</head>
	<body>
		#xtr_body# 
		<script language="javascript" type="text/javascript">#xtr_body_javascript#</script>
	</body>
</html>
