.wpoptimizebyxtraffic_admin {
}

.wpoptimizebyxtraffic_admin ul ul {
	margin-left: 20px;
}

.wpoptimizebyxtraffic_admin #poststuff  form h2 {
	font-size: 250%;
	font-weight: 900;
}

.wpoptimizebyxtraffic_admin #poststuff  form h3 {
	font-size: 220%;
	font-weight: 900;
}


.wpoptimizebyxtraffic_admin #poststuff  form h4 {
	font-size: 200%;
	font-weight: 900;
}

.xtr_hid {
	display:none;
}

